.ContainerCard{
    display: flex;
    flex-direction: column;
    border: 5px solid #424265;
    border-radius: 15px;
    width: 50%;
    margin:40px;
}

.ProjectCard{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.DivImages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}

.DivImages img{
    width: 350px;
    height: 200px;
    margin: 5px;
}
.DivImages img:hover{
    box-shadow: 0px 0px 10px blue;
    margin: 5px;
    transition: all 0.5s;
}
