.meDiv{
    display: flex;
    flex-direction: column;
    font-family: "Consolas";
      padding: 15px;
}

.meDiv p{
    font-size: 25px;
}

#Home h1{
    font-size: 40px;
    margin-top: 60px;
}
#Home h2{
    margin-bottom: 50px;
}

#Home button{
    width: 250px;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Consolas';
}

.buttonDiv{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}