footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #161B22;
    padding: 15px;
}

.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer a{
    font-size: large;
}