.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

ul{
    color:white;
}



body{
    padding: 0px;
    margin: 0px;
}

main {
    text-align: center;
    width: 100%;
    height: 100%;
    flex: 1;
}

p{
    color: #F0F6FC;
    font-size: large;
    
}

h2{
    color: #8B949E;
}

a{
    color : #58A6FF;
}

body{
    background-color: #1E1E2E;

}

button{
    background-color: #CBA6F7;
}

h1{
    color: #89B4FA;
}

